<section class="bio" id="about-me">
    <div class="flex-column">
        <h2>About Me</h2>
        <div class="selfie">
            <img src="./assets/images/it-me.jpg" alt="It's a beautiful picture of me."/>
        </div>
    </div>
    <div class="flex-column-2">
        <p>
            Hello world! My name is James Litton and I'm an aspiring full-stack web developer! I currently have a Bachelor's Degree in Political Science from the Unviersity of Houston, and I decided to learn coding to change careers. I've always had an interest in technology, so I'm diving in head-first. 
        </p>
        <br>
        <p>
            Feel free to check out the work I've done, and if anything catches your eye, be sure to reach out!
        </p>
    </div>
    <section class="contact" id="contact-me">
        <h2>Contact Me</h2>
        <ul>
            <li>
                <a href="tel:936-334-2803">Phone</a>
            </li>

            <li>
                <a href="mailto://jdlitton2594@gmail.com">Email</a>
            </li>

            <li>
                <a href="https://github.com/jlit2594">GitHub</a>
            </li>
        </ul>
    </section>
</section>