<section class="works" id="my-work">
    <div class="flex-row">
        <h2>My Work</h2>
    </div>

    <a href="https://slachelier.github.io/MegaBytes/">
        <div class="work-link">
            <div class="title-1">
                <h3>MegaBytes</h3>
            </div>
        </div>
    </a>

    <a href="https://jlit2594.github.io/weather-app/">
        <div class="work-link-2">
            <div class="title-1">
                <h3>CLIMA</h3>
            </div>
        </div>
    </a>

    <a href="https://glacial-scrubland-16124.herokuapp.com/">
        <div class="work-link-3">
            <div class="title-1">
                <h3>PIXELVIEW</h3>
            </div>
        </div>
    </a>
</section>