* {
    background-color:#122c54;
    color: #9ab1d6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Styles for the Header*/

header {
    text-align: center;
}

header h1 {
    font-size: 72px;
    font-weight: bold;
    color: white;
    padding: 0 100px 20px 100px;
    margin: 70px 50px 0 50px;
    text-shadow: 0 0 8px #39c6c6;
    letter-spacing: 2px;
    border-bottom: solid #39c6c6;
    display: inline-block;
}

header nav ul {
    list-style: none;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav ul li {
    margin: 10px;
    font-size: 18px;
}

header nav ul li a {
    font-weight: lighter;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #39c6c6;
}

/* HERO */

/* Styles for the About Me section */

.bio {
    border: solid #39c6c6;
    border-style: inset;
    border-width: 10px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 100px 20px 100px 20px;
}

.bio h2 {
    font-size: 48px;
    font-weight: bold;
}

.bio-paragraph {
    text-align: right;
}