* {
    background-color:#122c54;
    color: #9ab1d6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Styles for the Header*/

header {
    text-align: center;
}

header h1 {
    font-size: 72px;
    font-weight: bold;
    color: white;
    padding: 0 100px 20px 100px;
    margin: 70px 50px 0 50px;
    text-shadow: 0 0 8px #39c6c6;
    letter-spacing: 2px;
    border-bottom: solid #39c6c6;
    display: inline-block;
}

header nav ul {
    list-style: none;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav ul li {
    margin: 10px;
    font-size: 18px;
}

header nav ul li a {
    font-weight: lighter;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #39c6c6;
}

/* HERO */

/* Styles for the About Me section */

.bio {
    margin: 200px auto 30px auto;
    position: relative;
    width: 900px;
    left: 100px;
    right: 100px;
    text-align: center;
}

.bio h2 {
    font-size: 48px;
    font-weight: bold;
    float: left;
    border-bottom: solid #39c6c6;
    color: white;
    text-shadow:  0 0 8px #39c6c6;
    position: absolute;
    top: 0;
}

.bio img {
    position: absolute;
    float: left;
    max-width: 25%;
    height: auto;
    left: 0;
    top: 200px;
}

.bio-paragraph {
    position: absolute;
    float: right;
    left: 300px;
    width: 600px;
    font-size: 24px;
    font-weight: lighter;
}

.bio-paragraph p {
    margin: 10px auto;
    padding: 50px 0 50px 0;
}

/* My Work styles */

.works {
    position: relative;
    text-align: center;
    top: 900px;
}

.contact {
    position: relative;
    text-align: center;
    top: 900px;
}